@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pantonextrabold;
  src: local(pantonextrabold), url('./assets/fonts/panton-extrabold-webfont.woff2') format('woff2'),
       url('./assets/fonts/panton-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  font-family: pantonextrabold, sans-serif;
	line-height: 1.5;
	font-weight: 400;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,  
    -1px -1px 0 #000,
    1px 1px 0 #000;
	color-scheme: light dark;
	color: rgb(255 255 255 / 87%);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-outline {
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,  
    -1px -1px 0 #000,
    1px 1px 0 #000;
}

.container-light {
  border: 10px solid transparent;
  padding: 10px;
  margin: 20px 10px;

  border-image-source: url("./assets/sprites/ui/GV_mainmenu_back0513.png");
  border-image-outset: 5px;
  border-image-slice: 30;
  border-image-repeat: round;

  background-color: #e1d4b7;
}

.container-dark {
  border: 5px solid transparent;
  padding: 15px;
  margin: 20px 10px;

  border-image-source: url("./assets/sprites/ui/GV_ui_main12_1.png");
  border-image-outset: 5px;
  border-image-slice: 20;
  border-image-repeat: round;

  background-repeat: repeat;
  background-image: url("./assets/sprites/ui/GV_ui_main12_1_background.png");
}

.menu-button {
  background-image: url("./assets/sprites/ui/GV_ui_main0.png");
  background-size: 100% 100%;
  padding: 15px;
  width: 100%;
  min-width: 120px;
}

.menu-button:hover {
  background-image: url("./assets/sprites/ui/GV_ui_main1.png");
}

.background-image {
  background-image: url("./assets/sprites/background/GV_Dungeon3_background.png");
  background-size: 100%;
  left: 0;
  top: 0;
  background-position: center calc(100px + 50%);
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

.background-image-front {
  background-image: url("./assets/sprites/background/GV_Dungeon3_b.png");
  background-size: 900px;
  aspect-ratio: 5 / 2;
  background-repeat: repeat-x;
  background-position: center bottom;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 40px;
  width: calc(100vw + 900px);
  z-index: 1;
  animation: slide-left-900-px 150s linear infinite;
}

.background-image-front-two {
  border-image-source: url("./assets/sprites/background/GV_Dungeon3_a.png");
  background-size: 700px;
  aspect-ratio: 5 / 2;
  background-repeat: repeat-x;
  background-position: center bottom;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: calc(100vw + 800px);
  z-index: 2;
  animation: slide-left-700-px 110s linear infinite;
}

.navigation-background {
  border-top: 20px solid transparent;
  border-image: url("./assets/sprites/ui/GV_ui_main16.png");
  border-image-outset: -20px;
  border-image-slice: 30;
  border-image-repeat: round;
  width: 100%;
  background-color: #81684f;
}

@keyframes slide-left-900-px {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-900px);
  }
  
}

@keyframes slide-left-700-px {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-700px);
  }
  
}